<?xml version="1.0" encoding="utf-8"?>
<packages>
    <!--Using Wix version 3 because of an issue with CPack. See the following links for more details-->
    <!--https://gitlab.kitware.com/cmake/cmake/-/issues/23910 -->
    <!--https://wixtoolset.org/docs/releasenotes/#v4 -->
    <package id="WiX" version="3.11.2" />
</packages>
