[run]
relative_files = True
branch = True
source = speedwagon
omit =
    speedwagon/ui/*
    speedwagon/workflows/tessdata/*


[paths]
source = speedwagon

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    if typing.TYPE_CHECKING:
