.*/
build/
reports/
windows_build/
mytox/
logs/
**/*.traineddata
#speedwagon/workflows/tessdata/*
#!/speedwagon/workflows/tessdata/__init__.py
/.scannerwork/
.sonar/
delme/
.eggs/
.mypy_cache/
.pytest_cache/
venv/