.*/
build/
reports/
windows_build/
mytox/
logs/
.tox/
copy/
data_files/
**/*.traineddata
#speedwagon/workflows/tessdata/*
#!/speedwagon/workflows/tessdata/__init__.py
/.scannerwork/
.sonar/
source/
output/
output_2/
delme/
.eggs/
dist/
venv/