include LICENSE README.rst requirements.txt requirements-dev.txt tox.ini
include .pylintrc
include speedwagon/logo.png
include speedwagon/favicon.ico
include speedwagon/py.typed
recursive-include speedwagon/frontend/qtwidgets/ui *.ui
include speedwagon/frontend/qtwidgets/ui/__init__.py
recursive-include tests *.py
include docs/make.bat docs/Makefile
recursive-include docs/source *

prune *.traineddata

