-r requirements/requirements.txt
-r requirements/requirements-vendor.txt
-r requirements/requirements_tox.txt
-r requirements/requirements-dev.txt
-r requirements/requirements-dev-freeze.txt
-r requirements/requirements-extra.txt
