HathiValidate==0.3.5
HathiZip==0.1.5
py3exiv2bind==0.1.5b7
pyhathiprep==0.1.3
pykdu-compress==0.1.3b10
uiucprescon-getmarc==0.1.2
uiucprescon.images==0.0.3
uiucprescon.imagevalidate==0.1.5b5
uiucprescon.ocr==0.1.1b3
uiucprescon.packager==0.2.11b5
hathichecksumupdater