behave
coverage
flake8
pylint
pyqt-distutils
pytest
pytest-qt
PyQt5
pytest-cov
pytest-runner
sphinx
sphinx-argparse
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
tox
