behave
conan
coverage
devpi-client
flake8
pykdu_compress >= 0.1.3b4
pylint
pyqt-distutils
PyQt5
pytest
pytest-cov
pytest-qt
pytest-runner
sphinx
sphinx-argparse
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
tox
