build
conan
-r requirements/requirements-devpi.txt
flake8
pykdu_compress >= 0.1.7b3
pylint
sphinx
paramiko
pydocstyle
pytest-xvfb
sphinx-argparse
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
twine
