<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Product Id="*" Name="Speedwagon" Language="1033" Version="$(var.WiXProductVersion)"
             Manufacturer="UIUC Library" UpgradeCode="C81EC876-C4BD-11E7-9268-005056C00008">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64"/>

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>
        <MediaTemplate EmbedCab="yes"/>
        <UIRef Id="WixUI_FeatureTree"/>
        <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf"/>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="INSTALLFOLDER" Name="Speedwagon">
                    <Directory Id="TestsDIR" Name="tests"/>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="Speedwagon"/>
            </Directory>

        </Directory>
        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="C81EC877-C4BD-11E7-B245-005056C00008">
                <Shortcut Id="ApplicationStartMenuShortcut"
                          Name="Speedwagon"
                          Description="Collection of tools and workflows for DS"
                          Target="[INSTALLFOLDER]pythonw.exe"
                          WorkingDirectory="APPLICATIONROOTDIRECTORY" Arguments="-m speedwagon"/>
                <Shortcut Id="DocumentationStartMenuShortcut" Name="Documentation"
                          Description="My descriptions" Target="[INSTALLFOLDER]\docs\html\index.html"/>
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\UIUCLibrary\speedwagon" Name="installed"
                               Type="integer" Value="1" KeyPath="yes"/>
            </Component>

        </DirectoryRef>

        <Feature Id="ProductFeature" Title="Speedwagon" Level="1">
            <ComponentGroupRef Id="ProductComponents"/>
            <ComponentRef Id="ApplicationShortcut"/>
        </Feature>
        <!--<Feature Id="UnitTestsFeature" Title="Automated Tests" Level="1">-->
        <!---->
        <!--</Feature>-->
    </Product>


</Wix>
