aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==23.1.0
certifi==2023.7.22
chardet==4.0.0
charset-normalizer==3.2.0
docopt==0.6.2
HathiValidate==0.3.8
HathiZip==0.1.10
idna==2.9
idna-ssl==1.1.0
importlib-metadata==6.8.0
importlib-resources==6.1.0
lxml==4.9.3
multidict==6.0.4
pluggy==0.13.1
py3exiv2bind==0.1.11
pyhathiprep==0.1.7
pykdu-compress==0.1.8
pyqt-distutils==0.7.3
PySide6==6.4.3
PySide6-Addons==6.4.3
PySide6-Essentials==6.4.3
pytz==2020.1
PyYAML==6.0
requests==2.31.0
ruamel.yaml==0.17.33
ruamel.yaml.clib==0.2.7
shiboken6==6.4.3
typing_extensions==4.8.0
tzlocal==2.1
uiucprescon.images==0.0.5
uiucprescon.imagevalidate==0.1.9
uiucprescon.ocr==0.1.4
uiucprescon.packager==0.2.15
urllib3==2.0.5
yarl==1.9.2
zipp==3.1.0
