attrs==23.2.0
certifi==2024.2.2
charset-normalizer==3.3.2
docopt==0.6.2
idna==3.6
importlib_metadata==7.1.0
importlib_resources==6.3.2
lxml==5.1.0
multidict==6.0.5
pluggy==1.4.0
pyqt-distutils==0.7.3
PySide6==6.5.3
PySide6-Addons==6.5.3
PySide6-Essentials==6.5.3
PyYAML==6.0.1
requests==2.31.0
shiboken6==6.5.3
typing_extensions==4.10.0
urllib3==2.2.1
yarl==1.9.4
zipp==3.18.1
