build
flake8
flake8-bugbear
pykdu_compress >= 0.1.8
pylint
sphinx>=6
paramiko
pydocstyle
pytest-xvfb
sphinx-argparse
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
twine
