build
coverage>=4.5.3
commitizen
flake8
flake8-bugbear
mypy>=0.701
mypy-extensions>=1.0.0
pycodestyle>=2.5.0
pydocstyle
pylint
pytest
pytest-mock>=3.10.0
pytest-qt>=3.3.0
pytest-xvfb
types-PyYAML
types-requests
paramiko
ruff
sphinx>=6
sphinx-argparse
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
twine
