<?xml version="1.0" encoding="utf-8"?>

<packages>
    <package id="git"/>
    <package id="visualstudio2019buildtools"
           packageParameters="--installPath C:\\BuildTools --add Microsoft.VisualStudio.Component.Windows10SDK.18362 --add Microsoft.VisualStudio.Component.VC.Tools.x86.x64 --includeRecommended"/>
    <package id="cmake" installArguments="ADD_CMAKE_TO_PATH=System"/>
    <package id="ninja"/>
    <package id="nsis"/>
</packages>

<!--IMPORTANT: Don't install the wixtoolset package from chocolatey.org.
It will fail for images that aren't based on dotnet 3.5.  Instead install Wix
after installing visualstudio buildtools with nuget and put the "tools"
directory on the path.

    For example: "nuget install WiX.Toolset"

-->